/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Components */

/* Browser specific styles */
@import 'dirty/hacks';

/* Demo Page styles */
@import 'demo';






canvas[data-engine="three.js r146"] {
  position: absolute;
  z-index: 9;
  top: 0;
  // width: 1280px !important;
  // height: 720px !important;
}